@echo off
rem ######################################################################
rem This file SHOULD NOT be submitted to GIT!
rem It contains sensitive information, secrets, necessary access keys etc.
rem Add it to ".gitignore"
rem ######################################################################

rem Service key for accessing the Azure Cognitive API:

set AZURE_SERVICE_DESCRIPTION_KEY=blah-blah-blah-blah-blah-blah
set AZURE_SERVICE_FACE_API_KEY=blah-blah-blah-blah-blah-blah

rem PostgreSQL connection data:
rem Variables naming adjusted for "asyncpg" library (See https://magicstack.github.io/asyncpg/current/api/index.html#asyncpg-api-pool)

set PGHOST=my.super.host.com
set PGPORT=5432
set PGUSER=mypguser
set PGPASSWORD=mypgpassword
set PGDATABASE=mypgdb

set RMQ_HOST=rabbit.example.com
set RMQ_PORT=5672
set RMQ_VIRTUALHOST=vrabbit
set RMQ_TTL=3600000
set RMQ_IN_QUEUE=sourceimagenames
set RMQ_OUT_QUEUE=resultingimageinfo
set RMQ_EXCHANGE=imageexchange
set RMQ_PREFETCH_CHUNK=1
set RMQ_USERNAME=vrabbit
set RMQ_PASSWORD=rabbitmqPassWord

set TEMPORARY_DIR=C:\Temp

set LOGLEVEL=DEBUG