@echo off
rem ######################################################################
rem This file SHOULD NOT be submitted to GIT!
rem It contains sensitive information, secrets, necessary access keys etc.
rem Add it to ".gitignore"
rem ######################################################################

rem Service key for accessing the Azure Cognitive API:

set AZURE_SERVICE_DESCRIPTION_KEY=blah-blah-blah-blah-blah-blah
set AZURE_SERVICE_FACE_API_KEY=blah-blah-blah-blah-blah-blah

rem PostgreSQL connection data:
rem Variables naming adjusted for "asyncpg" library (See https://magicstack.github.io/asyncpg/current/api/index.html#asyncpg-api-pool)

set PGHOST=my.super.host.com
set PGPORT=5432
set PGUSER=mypguser
set PGPASSWORD=mypgpassword
set PGDATABASE=mypgdb
